@import 'variables';
@import 'mixins';
@import 'fonts';

body,
html {
  height: 100%;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: white;
}

#bgvid {
  position: fixed;
  top: 50%;
  left: 30%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-30%, -50%);
  z-index: -1;

  @include medium-and-up {
    top: 0;
    left: 0;
    transform: initial;
  }
}

a {
  color: white;

  &:hover {
    color: lightblue;
  }
}

.navbar {
  flex-flow: column;
  align-self: flex-start;

  @include medium-and-up {
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar-nav {
    flex-direction: column;
    align-self: flex-start;

    .nav-link {
      padding: 0;
      color: white;

      img {
        width: 50px;
      }

      span {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}

.logo {
  position: fixed;
  bottom: 20px;
  left: 15px;
  width: 50px;
}

.terminal {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: greenyellow;
  font-family: monospace;
  font-size: 0.6rem;
  min-height: 500px;

  @include medium-and-up {
    font-size: 0.9rem;
    padding: 40px;
  }
}
